includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    phpVersion: 80200
    level: 6
    paths:
        - src
    excludePaths:
        - src/Stubs
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
